In [8]:
import yfinance as yf

In [20]:
ticker_symbol = "TSLA"

In [21]:
ticker_data = yf.Ticker(ticker_symbol)

In [22]:
df = ticker_data.history(period='5d')

In [23]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-09-08 00:00:00-04:00,251.220001,256.519989,246.669998,248.500000,118367700,0.0,0.0
2023-09-11 00:00:00-04:00,264.269989,274.850006,260.609985,273.579987,174667900,0.0,0.0
2023-09-12 00:00:00-04:00,270.760010,278.390015,266.600006,267.480011,135999900,0.0,0.0
2023-09-13 00:00:00-04:00,270.070007,274.980011,268.100006,271.299988,111673700,0.0,0.0
2023-09-14 00:00:00-04:00,271.320007,276.709991,270.420013,276.040009,107298900,0.0,0.0

In [24]:
df = ticker_data.history(period='1mo', interval='1d',start='2022-04-18', end='2022-04-22')

In [26]:
print(df)
print(type(df))

                                 Open        High         Low       Close  \
Date
2022-04-18 00:00:00-04:00  329.676666  338.306671  324.470001  334.763336
2022-04-19 00:00:00-04:00  335.019989  344.980011  331.776672  342.716675
2022-04-20 00:00:00-04:00  343.333344  344.666656  325.083344  325.733337
2022-04-21 00:00:00-04:00  358.243347  364.073334  332.140015  336.260010

                              Volume  Dividends  Stock Splits
Date
2022-04-18 00:00:00-04:00   51715200        0.0           0.0
2022-04-19 00:00:00-04:00   49847700        0.0           0.0
2022-04-20 00:00:00-04:00   70711200        0.0           0.0
2022-04-21 00:00:00-04:00  105416400        0.0           0.0
<class 'pandas.core.frame.DataFrame'>

In [27]:
df = ticker_data.history(start='2022-04-18', end='2022-04-22')

In [28]:
print(df)

                                 Open        High         Low       Close  \
Date
2022-04-18 00:00:00-04:00  329.676666  338.306671  324.470001  334.763336
2022-04-19 00:00:00-04:00  335.019989  344.980011  331.776672  342.716675
2022-04-20 00:00:00-04:00  343.333344  344.666656  325.083344  325.733337
2022-04-21 00:00:00-04:00  358.243347  364.073334  332.140015  336.260010

                              Volume  Dividends  Stock Splits
Date
2022-04-18 00:00:00-04:00   51715200        0.0           0.0
2022-04-19 00:00:00-04:00   49847700        0.0           0.0
2022-04-20 00:00:00-04:00   70711200        0.0           0.0
2022-04-21 00:00:00-04:00  105416400        0.0           0.0

In [32]:
import datetime

In [33]:
start_p = datetime.datetime(2021,5,24) # 시작일 지정
end_p = datetime.datetime(2021,5,29)   # 종료일 지정

df = ticker_data.history(start=start_p, end=end_p) # start와 end 모두 지정
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-05-24 00:00:00-04:00,193.866669,204.826660,191.216660,202.146667,103674300,0.0,0.0
2021-05-25 00:00:00-04:00,202.436661,204.663330,198.570007,201.563339,84017700,0.0,0.0
2021-05-26 00:00:00-04:00,202.520004,208.723328,200.500000,206.376663,85917900,0.0,0.0
2021-05-27 00:00:00-04:00,206.746674,210.376663,205.403336,210.283340,79111800,0.0,0.0
2021-05-28 00:00:00-04:00,209.500000,211.863327,207.460007,208.406662,68211000,0.0,0.0

In [34]:
import pandas as pd

#----------------------------------------------------
# 한국 주식의 종목 이름과 종목 코드를 가져오는 함수
#----------------------------------------------------
def get_stock_info(maket_type=None):
    # 한국거래소(KRX)에서 전체 상장법인 목록 가져오기
    base_url =  "http://kind.krx.co.kr/corpgeneral/corpList.do"
    method = "download"
    if maket_type == 'kospi':
        marketType = "stockMkt"  # 주식 종목이 코스피인 경우
    elif maket_type == 'kosdaq':
        marketType = "kosdaqMkt" # 주식 종목이 코스닥인 경우
    elif maket_type == None:
        marketType = ""
    url = "{0}?method={1}&marketType={2}".format(base_url, method, marketType)
    print("url", url)
    
    df = pd.read_html(url, header=0)[0]
    
    # 종목코드 열을 6자리 숫자로 표시된 문자열로 변환
    df['종목코드']= df['종목코드'].apply(lambda x: f"{x:06d}") 
    
    # 회사명과 종목코드 열 데이터만 남김
    df = df[['회사명','종목코드']] # 종목코드를 가지고 오기위함. 
    
    return df

In [35]:
def get_ticker_symbol(company_name, maket_type):
    """
    ----------------------------------------------------
      yfinance에 이용할 Ticker 심볼을 반환하는 함수
    ----------------------------------------------------
    """
    df = get_stock_info(maket_type)
    code = df[df['회사명']==company_name]['종목코드'].values
    code = code[0]
    
    if maket_type == 'kospi':
        ticker_symbol = code +".KS" # 코스피 주식의 심볼
    elif maket_type == 'kosdaq':
        ticker_symbol = code +".KQ" # 코스닥 주식의 심볼
    
    return ticker_symbol

In [38]:
import yfinance as yf

ticker_symbol = get_ticker_symbol("삼성전자", "kospi") # 삼성전자, 주식 종류는 코스피로 지정

print("ticker_symbol", ticker_symbol)

ticker_data = yf.Ticker(ticker_symbol)

df = ticker_data.history(start='2022-06-13', end='2022-06-18') # 시작일과 종료일 지정
# df = ticker_data.history(period='5d') # 기간을 지정

df

url http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&marketType=stockMkt
ticker_symbol 005930.KS

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-13 00:00:00+09:00,60560.123188,60948.329106,60268.968750,60268.968750,22157816,0.0,0.0
2022-06-14 00:00:00+09:00,59395.506815,60366.021633,59298.455334,60074.867188,24606419,0.0,0.0
2022-06-15 00:00:00+09:00,59492.558896,59686.661862,58424.992586,58910.250000,26811224,0.0,0.0
2022-06-16 00:00:00+09:00,59492.561416,59977.818850,58716.149522,59104.355469,23394895,0.0,0.0
2022-06-17 00:00:00+09:00,57648.579235,58133.836636,57648.579235,58036.785156,29053450,0.0,0.0